$headerColor: #a79c0e;
$buttonHover: #e7dcdc;
$buttonActive: #e07731;
$headingTextColor: #111518;
$mainTextColor: #f5ecec;
$secondaryTextColor: #6d1111;
$cardColor: #0c0c0c;
$mainColor: #f8f4e7;
$borderColor: rgb(26, 25, 25);
